*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Inter", sans-serif;
    background-color: #fffdfa;
    color: #00001a;
    line-height: 1.6;
    max-width: 1200px;
    margin: 0 auto;
    font-size: 15px;
    padding: 2rem;
}


header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    padding: 25px;
}
.header_logo{
    width: 60px;
}
.hamburger {
    display: none;
    cursor: pointer;
}
.mobile_menu {
    position: fixed;
    top: 0;
    right: -260px; 
    width: 260px;
    height: 100%;
    background: white;
    padding: 25px;
    transition: 0.3s ease;
    z-index: 9999;
}

.close_menu {
    text-align: right;
    margin-bottom: 40px;
}

.mobile_nav_list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 22px;
    font-size: 20px;
}
.nav_list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    list-style: none;
}
.nav_item{
    text-decoration: none;
    color: #565983;
    font-weight: 500;
    transition: color 0.3s all;
}
.nav_item:hover{
    color: #f5ed07;
}


main{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    margin-bottom: 30px;
}
.main_content{
    position: relative;
    display: grid;
    grid-template-areas:"image" "text";
    gap: 15px;
}
.main_img{
    width: 95%;
    grid-area: image;
}
.main_texts{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
}
.main_title{
    font-size: 48px;
    font-weight: 800;
    line-height: 1.1;
}
.main_text{
   font-size: 0.95rem;
  color: #5d5f79;
  margin-bottom: 1.5rem;
}
.main_button {
  width: 23%;  
  background-color: #f15e50;
  color: #00001a;
  font-size: 0.9rem;
  padding: 0.8rem 1.8rem;
  border: none;
  position: relative;
  left: 23.5rem;
  top: -4.1rem;
}
.main_button:hover{
    background-color: #02480c;
    color: #fffdfa;
}
.main_sidebar{
    background-color: #00001a;
    padding: 1.5rem;
    border-radius: 3px;
    color: #fffdfa;
    height: 437px;
}
.main_sidebar_title {
  color: #e9ab53;
  font-size: 2rem;
  margin-bottom: 1rem;
}
.main_sidebar_item{
    border-bottom: 1px solid #5d5f79;
    padding: 1rem 0;
}
.sidebar__link{
    font-size: 1.1rem;
    transition: color 0.3s ease;
}
.sidebar__link:hover{
    color: #5364e9;
}
.sidebar__text{
    color: #c5c6ce;
    font-size: 0.9rem;
    margin-top: 0.5rem;
}

.footer_section{
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
  
}
.footer_section_card{
    display: flex;
    gap: 1rem;
    max-width: 350px;
}
.footer_card_img{
    width: 26%;
}
.footer_section_number{
    color: #f15e50;
    font-size: 1.5rem;
    font-weight: 700;
}
.footer_section_title{
    font-size: 1rem;
    font-weight: 800;
  transition: color 0.3s ease;
}
.footer_section_title:hover{
    color: #50d9f1;
}
.footer_section_text{
    color: #5d5f79;
    font-size: 0.9rem;
    margin-top: 0.5rem;
}


@media (max-width: 400px) {
    .header_logo{
        position: relative;
        right: 2rem;
    }
   .nav_list {
        display: none;
    }
    .hamburger {
        display: block;
        position: relative;
        left: 7rem;
    }
    .mobile_menu.active {
        right: 0;
    }
    main{
        display: block;
    }
    .main_img{
        position: relative;
        top: -2rem;
        height: 160%;
        width: 100%;
    }
    .main_texts{
        display: block;
        position: relative;
        top: 2rem;
    }
    .main_title{
        font-size: 2.5rem;
    }
    .main_text{
        position: relative;
        top: 1rem;
        font-size: 0.85rem;
    }
    .main_button{
        position: relative;
        right: auto;
        left: auto;
        top: 1rem;
        width: 60%;
    }
    .main_sidebar{
        height: auto;
        position: relative;
        top: 3rem;
    }
    .footer_section{
        display: block;
        position: relative;
        top: 6rem;
        
    }
    .footer_section_card{
        gap: 35px;
        
    }
    .footer_card_img{
        width: 40%;
        height: 35%;
        
    }
    .footer_section_number{
        font-size: 1.8rem;
    font-weight: 700;
    }
    .footer_section_title{
        font-size: 0.9rem;
    font-weight: 800;
    }
    .footer_section_text{
        font-size: 0.8rem;
    }
}